@charset "UTF-8";

/*CSS da página agentes*/

* {
    padding: 0px;
    margin: 0px;
    font: normal 1em arial;
    box-sizing: border-box;
    transition: 1s;
}

body {
    background-image: linear-gradient(to bottom, #121A27, #E33443);
    background-attachment: fixed;
}

table {
    animation: to_bottom 1s ease-in-out;
    margin: 10px;
    width: 90vw;
    border-radius: 5px;
    border-collapse: collapse;
}

#tabela {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

caption {
    background-color: #E53645;
    color: aliceblue;
    padding: 10px;
    font-size: 2em;
    font-weight: bold;
}

th,td {
    border: 1px solid black;
    padding: 4px;
}

th {
    background-color: #E53645;
    color: #15182B;
    font-size: 1.4em;
}

td {
    background-color: #F4EBF0;
    text-align: center;
    font-size: 1.2em;
}

table a {
    text-decoration: none;
    color:#15182B;
}

#link a:hover {
    padding: 0px ;
    color: white;
    font-weight: bold;
}

a:hover {
    color: #E53645;
    font-weight: bold;
}

iframe {
    width: 90vw;
    height: 100%;
}

#quadro {
    background: url(../imagens/geral/valorant-fundo\ pqn.webp) no-repeat center right ;
    background-size: cover;
    width:  90vw;
    height: 70vh;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer {
    background-color: #121A27;
    width: 100vw;
    position: absolute;
    bottom: 10;
    padding: 10px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: aliceblue; 
}
