@charset "UTF-8";

/*Media Queries da página agentes*/

@media screen and (min-width: 768px) and (max-width:1200px) {

    body {
        background-image: linear-gradient(to top, #E33443, #121A27);
        background-attachment: fixed;
        margin: auto;
        margin: 25px;
    }

    table {   
        width: 600px;
        padding: 15px;
    }

    #tabela {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    caption {
        margin-top: 10px;
        font-size: 2em;
    }

    th {
        padding: 7px;
        font-size: 1.4em;
    }

    td {
        padding: 8px 12px;
        font-size: 1.2em;
    }

    #quadro {
        display: flex;
        flex-direction: row;
        justify-content: end;
    }

}

@media screen and (min-width:1200px) {

    body {
        width: 100vw;
        background-image: linear-gradient(to bottom,  #121A27, #E33443);
        background-attachment: fixed;
    }

    table {
        width: 51vw;
    }

    caption {
        margin-top: 20px;
    }

    iframe {
        position: absolute;
        width: 950px;
        margin: auto;
        background: url(../imagens/geral/valorant-fundo\ pqn.webp) no-repeat center center fixed;
        background-size:cover;
        transform: translateX(48%);
    }
}