@charset "UTF-8";

/*Media Queries da página mapas*/

@media screen and (min-width:768px) and (max-width:1200px){
    td {
        width: 560px;
        margin-left: 100px;
    }
}

@media screen and (min-width:1200px) {
    td {
        width: 1500px;
        margin-left: 90px;
    }
}