@charset "UTF-8";

/*CSS da pagina mapas*/

* {
    padding: 0px;
    margin: 3px 5px;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to top,  #121A27 , #E33443);
    background-attachment: fixed;
}

h1 {
    background-color: #121A27;
    color: #E33443;
    padding: 50px;
    margin: -10px;
    margin-bottom: 20px;
    font-size: 5em;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(128, 128, 128, 0.678);
}

td {
    width: 250px;
    display: block;
    border: 1px solid black;
    padding: 80px;
    margin: auto;
    font-size: 2.5em;
    margin-bottom: 10px;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.479);
}

td > a {
    text-decoration: none;
    color: white;
}

footer a{
    display: block;
    text-align: center;
    text-decoration: none;    
    padding: 10px;
    color: #E33443;
}

footer a:hover {
    color: white;
    font-size: 1.4em;
}
