@charset "UTF-8";

/*
    CSS da pagina mapas
*/

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(-45deg ,#121A27 , #E33443);
    background-attachment: fixed;
}

#cabecalho {
    display: flex;
    flex-direction: column ;
    justify-content: start;
    
}

h1 {
    background-color: #121A27;
    color: #E33443;
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    font: bold 5em arial 
}

table {
    animation: to_bottom 1s ease-in-out;
    display: flex;
    flex-direction: column;
}

tr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

td {
    width: 90vw;
    font-size: 2.5em;
    text-align: center;
    text-shadow: 2px 2px 2px #0000007a;
    border: 1px solid black;
    padding: 80px;
    margin: 10px;
    border-radius: 10px;
    transition: 1s linear;
}

td:hover {
    animation: to_top 1s ease-in-out ;
    box-shadow: 5px 5px 5px #00000059;
}

td > a {
    text-decoration: none;
    color: white;
}

footer {
    background-color: #121A27;
}

footer a{
    display: block;
    text-align: center;
    text-decoration: none;    
    padding: 10px;
    color: #E33443;
}

footer a:hover {
    color: white;
    scale: 1.2em;
}

/*
    ANIMAÇÕES
*/

@keyframes to_top {
    50% {
        transform: translateY(-10px);
    }
}

@keyframes to_bottom {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
        transform: translateY(-20px);
    }
}