@charset "UTF-8";

* {
    padding: 0px;
    margin: 3px 5px;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to top,  #121A27, #E33443);
    background-attachment: fixed;
}

h1 {
    margin: -20px;
    background-color: #121A27;
    color: #E33443;
    padding: 30px;
    font-size: 5em;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.808);
}

header > p {
    background-color: #4F4F4F;
    color: black;
    margin: 30px;
    padding: 25px;
    border-radius: 20px 0px;
    font-size: 1.2em;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.904);
}

.foto {
    width: 100%;
}

.tatico {
    width: 100%;
    height: 300px;
}

h2 {
    background-color: #121A27;
    color: #E33443;
    padding: 15px;
    margin: -15px;
    margin-top: 20px;
    margin-bottom: -20px;
    font-size: 1.2em;
    text-align: center;
}

li {
    background-color: #121A27;
    margin: -20px;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    list-style-type: none;
}

a {
    display: block;
    text-decoration: none;
    color: white;
}

a:hover {
    color: #E33443;
    font-weight: bolder;
}